# Numerous always-ignore extensions

*.diff

*.err

*.orig

*.log

*.rej

*.swo

*.swp

*.vi

*~
*.sass-cache
.idea/

node_modules/

.tmp/



# OS or Editor folders

.DS_Store
Thumbs
.db

.cache

.project

.settings

.tmproj

*.esproj
nb
project

*.sublime-project

*.sublime-workspace

*.komodoproject
.komodotools
_notes
dwsync.xml