.about-me {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  @mixin atMedium{
    grid-template-columns: auto auto;
    margin-top: 0;
    padding: 18px;
  }

  @mixin atLarge{
    padding: 30px 0 30px 0;
  }

  &__text-content{
    padding: 1em;
    background-color: rgba(47, 85, 114, 0.1);

    @mixin atMedium{
      padding: 1.5em;
      background-color: transparent;
    }

    @mixin atLarge{
      padding: 2em;
      background-color: transparent;
    }
  }

  &__branislava {
    border-radius: 50%;
    margin: auto;
    display: block;
  }

  &__title {
    padding-bottom: .8rem;
    text-align: center;

    @mixin atLarge{
      margin-top: 0;
    }
  }
}