#about {

  @mixin atMedium {
    padding: 4.5rem 0;
  }
}

.about-section {
  background-color: rgba(47, 85, 114, 0.1);
}

.about-me {
  display: grid;
  grid-template-columns: 1fr;
  
  

  @mixin atMedium{
    grid-template-columns: auto auto;
    margin-top: 0;
    /* grid-gap: 1em; */
    padding: 18px;
  }

  @mixin atLarge{
    padding: 30px 0 30px 0;
  }

  &__text-content{
    font-weight: 300;
    padding: 1.5em;

    @mixin atMedium{
      padding: 1.5em;
    }

    @mixin atLarge{
      padding: 2em;
    }
  }

  &__branislava {
    max-width: 100%;
    border-radius: 50%;
    margin: auto;
    display: block;
    color: transparent;
    padding: 1em;
  }

  &__title {
    padding-bottom: .8rem;
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    color: $mainBlue;

    @mixin atLarge{
      margin-top: 0;
    }
  }
}