.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  &__image {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: block;
  }

  &__text-content {
    padding-top: 125px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;

    @mixin atMedium {
      padding-top: 60px;
    }
  }

  &__title {
    font-weight: 300;
    color: #FFFFFF;
    margin: 0;
    font-size: 2.4rem;

    @mixin atSmall {
      font-size: 4.8rem;
    }
  }

  &__subtitle {
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 300;
    max-width: 30rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.875rem;
    }
  }
}