.site-header{
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 20px 0;
  transition: background-color .5s ease-out;
  

  @mixin atMedium {
    position: fixed;

    &--dark {
      background-color: rgba(23, 51, 72, .7);
    }
  }

  &__logo {
    position: absolute;
    color: white;
    font-size: 5rem;
    top: 0;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
    

    @mixin atMedium {
      padding: 0;
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        font-size: 4rem;
      }
    }
  }

  &__logo-graphic {
    font-family: 'Indie Flower', cursive;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 0;
      -webkit-transition: transform .3s ease-out;
      -moz-transition: transform .3s ease-out;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 100%;
      -webkit-transition: transform .3s ease-out;
      -moz-transition: transform .3s ease-out;
      transition: transform .3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__menu-content {
    opacity: 0;
    transition: all .5s ease-out;
    position: relative;
    /* z-index: -10; */
    padding-top: 60px;
    text-align: center;
    

    @mixin atMedium{
      padding-top: 0;
      opacity: 1;
    }

    &--is-visible {
      opacity: 1;
    }
  }
}